<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/parts/scripts :: head">
<title>Monitor</title>
</head>
<body>
	<th:block th:include="/parts/common :: navbar"></th:block>

	<div class="container">
		<div class="row" th:if="${message != null}">
			<div class="alert" role="alert" th:classappend="${class}"
				th:text="${message}">Your message!</div>
		</div>
		<div class="row">
			<div class="col-6 mx-auto">
				<form method="post" th:action="@{/passwordupdate}">
					<table class="table">
						<thead>
							<tr>
								<th>Parameter</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>New pass:</td>
								<td><input type="password" name="password" /></td>
							</tr>
							<tr>
								<td>Confirm:</td>
								<td><input type="password" name="confirm" /></td>
							</tr>
						</tbody>
					</table>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</body>
</html>